<p class="lead">Seen something you thought might be a criminal offence? Report it here and help us map non-serious crime in your local area.</p>

<h2>Report a Crime Now</h2>
<p>The crime involved:</p>

<%= render 'form' %>

<%= link_to 'Back', crimes_path %>
